@using Presentation.Dashboard.Resources
@using Infrastructure.Utilities
@inject LocalizationService LocalizationService
<li class="pcoded-hasmenu">
    <a href="javascript:void(0)" class="waves-effect waves-dark">
        <span class="pcoded-micon">
            <i class="feather icon-layers"></i>
        </span>
        <span class="pcoded-mtext">@LocalizationService.GetLocalizedHtmlString(ConstantDisplay.dmCategory)</span>
        @*<span class="pcoded-badge label label-danger">100+</span>*@
    </a>
    <ul class="pcoded-submenu">
        <li class="">
            <a asp-controller="JobTitle"
               asp-action="Index"
               class="waves-effect waves-dark">
                <span class="pcoded-mtext">@LocalizationService.GetLocalizedHtmlString(ConstantDisplay.dmJobTitle)</span>
            </a>
        </li>
    </ul>
</li>




