<div data-toggle="dropdown" class="dropdown-header dropdown-toggle">
    <div class="img-profile">
        <img src="jpg/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">
        <span>John Doe</span>
    </div>
    <ul class="profile-notification dropdown-menu">
        <li>
            <a href="#!">
                <i class="feather icon-settings"></i> Settings
            </a>
        </li>
        <li>
            <a href="#">
                <i class="feather icon-user"></i> Profile
            </a>
        </li>
        <li>
            <a href="email-inbox.html">
                <i class="feather icon-mail"></i> My Messages
            </a>
        </li>
        <li>
            <a href="auth-lock-screen.html">
                <i class="feather icon-lock"></i> Lock Screen
            </a>
        </li>
        <li>
            <a href="auth-sign-in-social.html">
                <i class="feather icon-log-out"></i> Logout
            </a>
        </li>
    </ul>
</div>


<style>
    .img-language-select {
        padding: 0 4px 3px 0;
    }

    .img-profile {
        margin-top: 5px;
    }
</style>